<tr id="<%= dom_id post %>">
  <td><%= post.user.name %></td>
  <td><%= post.user_id %></td>
  <td><%= link_to post.content, post %></td>
  <td><%= post.created_at %></td>
  <td><%= post.updated_at %></td>
  <%= render partial: 'posts/like/counter', locals: { post: post } %>
  <td><%= render partial: 'posts/delete', locals: {post: post} %>  </td>
  <td><%= render partial: 'posts/like/like', locals: {post: post} %></td>
</tr>