<%= turbo_frame_tag "post" do %>
  <%= form_with(:model => @post, :url => post_path(@post), :method => :patch, :local => true) do |form| %>
    <div>
      <div class="label">
        <span class="label-text">Conteúdo:</span>
      </div>
      <div>
        <%= form.text_area :content, :class => "textarea textarea-bordered h-48 w-full max-w-xs", :placeholder => "..." %>
      </div>
    </div>
    <div>
      <%= form.submit 'Update Post', :class => "btn btn-neutral" %>
      <%= link_to 'Back', post_path(@post), :class => "btn btn-neutral"%>
    </div>
  <% end %>
<% end %>



